export DRONE_GITEA_CLIENT_ID=7b56e8a3-903e-448b-971f-49e4a183a4e8
export DRONE_GITEA_CLIENT_SECRET=uQTdIipgkk2Z32dWfIHt9DsNib5AQiqk2ajLrtUwceyj
export DRONE_GITEA_ADMIN=kamesh
export GITEA_HOST=http://localhost:9090

export HOSTNAME=$(hostname)
# openssl rand -hex 16
export DRONE_RPC_SECRET=1ed8e51bd142265795188d6b271ce61c
#"$(echo ${HOSTNAME} | openssl dgst -md5 -hex)"
export DRONE_USER_CREATE="username:${DRONE_GITEA_ADMIN},machine:false,admin:true,token:${DRONE_RPC_SECRET}"